* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

@font-face {font-family: "GlacialIndifference-Bold";
  src: url("/fonts/GlacialIndifference-Bold.eot");
  src: url("/fonts/GlacialIndifference-Bold.woff2") format("woff2"),
  url("/fonts/GlacialIndifference-Bold.woff") format("woff");
}

.topic {
  width: 100%;
  height: 100vh;
  opacity: 0.8;
  background: black;
  color: white;
  font-size: 6.5vw;
  font-family: "GlacialIndifference-Bold", sans-serif;
  text-align: center;
  padding: 0.25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4vw;
  border: 1vw solid white;
}